

.alcim {
    font-family: arial;
    color: white;
    margin-top: auto;
}

body {
    background-color: red;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: auto;
}
p {
    font-family: Arial;
    color: white;
    font-size: 14px;
    width: 750px;
    text-align: justify;
}

h4 {
    font-family: arial;
    color: white;
}

td {
    font-family: arial;
    color: white;
    text-align: justify;
}

.buran2 {
    margin-top: 20px;
    width: 100px;
    height: 150px;
}

table {
    border-collapse: collapse;
    margin-right: 10px;
}

table, th, td {
    border: 3px solid white;
  }

  .oszlopeleje {
      font-weight: bolder;
  }
  .oszlopvege {
    text-align: center;
  }

  .buran3 {
      width: 400px;
      float: right;
  }

  .buran4 {
    width: 750px;
    float: left;   
}

.topnav2 {
    overflow: hidden;
    background-color: #333;
    margin-top: 10%;
}

.topnav2 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
}

.topnav2 a:hover {
    background-color: #dddddd;
    color: white;
}

.topnav2 a.active2 {
    background-color: #4caf50;
    color: white;
}

.ok101 {
 width: 430px;
 margin-top: 25px;
}
